/* Barra de navegação Horizontal */ 

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../Imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul li{
	/*display: inline; Isso é uma opção para deixar na horizontal, mas é melhor o float */
	float: left;
}

ul a{
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
	background: url(../Imagens/divisor.png) repeat-y;
}

ul .primeiro a{
	background: none;
}

ul a:hover{
	color: #085662;
	background: #44cade;
}

#home #navegacao .home a{
	color: #085662;
	background: #44cade;
}